* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(219, 226, 226);
}
.rowcast {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 12px 12px 22px gray;
  overflow: hidden;
  height: 550px;
}
img {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 300px;
}
.btn1 {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #546e7a;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover {
  background: white;
  color: #546e7a;
  border: 1px solid;
}
