* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
}
.row {
  /*background: #718792;*/
  border-radius: 6px;
  overflow: hidden;
  height: 550px;
}
img {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 300px;
}
.btn1 {
  margin-left: 10px;
  background-color: white;
  color: #546e7a;
  border-radius: 10px;
  border: 1px solid;
  width: auto;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

.btn1:hover {
  background: #546e7a;
  color: white;
}

.icon {
  min-width: 10px;
  text-align: left;
  color: #546e7a;
  font-weight: bold;
}

.icon:hover {
  color: white;
}

.texSeach {
  border: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
